/*---------------------------------------------------
    LESS Elements 0.9-genry
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------
    Modified for Genry                            */
body {
  min-width: 1000px;
  background-attachment: fixed;
  background-size: contain;
}
.code-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  background: #fff;
  color: #000;
}
